[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.2.3"
flask-sqlalchemy = "3.0.3"
sqlalchemy-utils = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
