[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.2.5"
flask-sqlalchemy = "3.0.5"
sqlalchemy-utils = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
connexion = "*"

[dev-packages]

[requires]
python_version = "3.11"
