<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>jQuery Integration</title>
{% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

</head>
<body>
    <div id="jqueryexample"></div>

    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript" src="/jsx/app.js"></script>

</body>
</html>
